.video-section {
    position: relative;
    margin-top: 104px;
    width: 100%;
    height: 500px;
    position : relative;
    overflow: hidden;
  }
  
  .video-container-wrapper {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .video-container {
    width: 100%;
    height: 100%;
    object-fit: cover; 
  }
  
.center-section {
    background-color: rgb(51, 119, 51);
}

.para-section{
    background-color: rgb(13, 65, 13);
    border-radius: 5px;
}
.indian-section{
    background-color: rgb(13, 65, 13);
    border-radius: 5px;
}
.other-section{
    background-color: rgb(13, 65, 13);
    border-radius: 5px;
}
.main-section{
    background-color: rgb(13, 65, 13);
    border-radius: 5px;
}
.footer-section{
    background-color: rgb(13, 65, 13);
}

.text-slider {
    border-radius: 10px;
    height: 300px; 
    width: 600px;
    background-color: rgb(213, 230, 209);
    overflow: hidden;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}
.text-slider-content {
    position: absolute;
    animation: slide-up 90s infinite;
    
}
.custom-btn{
    transition: transform 0.3s ease, background-color 0.3s ease;
    width: 200px;
    height: 100px;
    font-weight: bolder;
}
.custom-btn:hover{
    background-color: green;
    border-radius: 7px;
    transform: scale(1.1);
}
@keyframes slide-up {
    0% {
        top: 0;
    }
    100% {
        top: -500px; 
        }
}
.slide {
    height: 50px;
     
}
.nav-item {
    transition: transform 0.3s ease, background-color 0.3s ease;
    border-radius:7px;
   
}

.nav-item:hover {
    
    background-color: rgb(66, 224, 66);
    border-radius: 7px;
    transform: scale(1.1);
}
.img-hover-effect { transition: transform 0.3s ease; }
 .img-hover-effect:hover { transform: scale(1.1); }

.custom-dropdown{
    background-color: rgb(19, 75, 19);
    padding: 8px;
    border-radius: 10px;
    
}
